<style>
    .ng-invalid {
        background-color: lightpink;
    }

    .ng-valid {
        background-color: lightgreen;
    }

    span.error {
        color: red;
        font-weight: bold;
    }
</style>
<h2>Add Settings</h2>
<form name="SettingsFrom" novalidate>
    <div class="well">
        <div class="form-group">
            <label>Settings Name</label>
            <input name="Name" class="form-control" ng-model="data.AddSettings.Name" required />
            <span class="error" ng-show="SettingsFrom.Name.$error.required">Please enter a name</span>
        </div>

        <fieldset>
            <legend>Sort Questions</legend>
            <div class="form-group">
                <div class="checkbox">
                    <label><input type="radio" name="SortQuestion" value="true" ng-model="data.AddSettings.SortQuestion" required/>True</label><br />
                </div>

                <div class="checkbox">
                    <label><input type="radio" name="SortQuestion" value="false" ng-model="data.AddSettings.SortQuestion" required/>False</label><br />
                </div>
                <div>
                    <span class="error" ng-show="SettingsFrom.SortQuestion.$error.required">Please select an option</span>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Sort Options</legend>
            <div class="form-group">
                <div class="checkbox">
                    <label><input type="radio" name="SortOptions" value="true" ng-model="data.AddSettings.SortOptions" required/>True</label><br />
                </div>

                <div class="checkbox">
                    <label><input type="radio" name="SortOptions" value="false" ng-model="data.AddSettings.SortOptions" required/>False</label><br />
                </div>
                <div>
                    <span class="error" ng-show="SettingsFrom.SortOptions.$error.required">Please select an option</span>
                </div>
            </div>
        </fieldset>

        <div class="text-center">
            <button ng-disabled="SettingsFrom.$invalid" class="btn btn-primary" ng-click="Addsettings(data.AddSettings)">Save settings</button>
        </div>
    </div>
</form>