<div ng-show="data.empty" ng-hide="data.error || data.batches">
    <h2 class="sub-header">All Batches</h2>
    <p>
        No Batch have been added yet
    </p>
</div>
<div ng-hide="data.error || data.empty" ng-show="data.batches">
    <h2 class="sub-header">All Batches</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Unique Number</th>
                    <th>Number of Questions</th>
                    <td>View</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data.batches">
                    <td>{{$index++}}</td>
                    <td>{{item.UniqueNumber}}</td>
                    <td>{{item.QuestionCount}}</td>
                    <td><a class="btn btn-small" ng-href="#/batches/{{item.ID}}"</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>