<div ng-show="data.empty" ng-hide="data.error || data.settings">
    <h2 class="sub-header">All Settings</h2>
    <p>
        No Settings have been added yet
    </p>
    <p><a ng-href="#/settings/add" class="btn btn-xs btn-primary">Add New</a></p>
</div>
<div ng-hide="data.error || data.empty" ng-show="data.settings">
    <h2 class="sub-header">All Seetings</h2>
    <a ng-href="#/settings/add" class="btn btn-xs btn-primary pull-right">Add new</a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Sort Questions</th>
                    <th>Sort Options</th>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data.settings">
                    <td>{{$index + 1}}</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.SortQuestion}}</td>
                    <td>{{item.SortOptions}}</td>
                    <td><button class="btn btn-sm btn-primary" ng-click="delete(item.ID)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>